In [1]:
import sys
sys.path.append("..")
import os
from utils.load_data import load_parquet, load_index, load_csv
from utils.evaultation.generator import Generator
from algo.LSHAlgo import LSH
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.metrics import ndcg_score, dcg_score
import math

C:\Users\shrey\anaconda3\envs\SC4020\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
ground_truth_path = os.path.abspath('../data/eval/gt/airline_vsm__type=gt.parquet')
ground_truth = load_parquet(ground_truth_path)
print(f"Number of queries: {ground_truth.shape[0]}")
print(f"Top K: {len(ground_truth['top_k'][0].tolist())}")
ground_truth.head()

Number of queries: 32
Top K: 31

,question,top_k,time_taken
0,"Larnaca to London Heathrow, and wow, British A...",[London Heathrow to Austin with British Airway...,3289
1,LHR-SFO-LHR. Why do I keep thinking BA will im...,[London Heathrow to Austin with British Airway...,1417
2,"British Airways from Gatwick to Catania, Sicil...",[Phoenix to Tel Aviv via London. The return fr...,585
3,British Airways - Travel with Confidence. Prob...,[London Heathrow to Austin with British Airway...,1005
4,What is happening to British Airways? Flew Van...,[London Heathrow to Austin with British Airway...,1127